.one{
    font-size:50px;
    color: rgba(101, 243, 6, 0.274);
}
#demo{
    font-family:'Courier New', Courier, monospace; 
    color: darkolivegreen;
    letter-spacing: .15em;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
    
    width: 100%;
    height: auto;

   
}
.navbar{
    opacity: 0.8;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
body {
margin: 0;
padding: 0;

background: #333;
background-attachment: fixed;
background-size: cover;

}
  


.content {
position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
text-align: center;
margin-bottom: 300px;
}


#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}
.announce{
    width:'100%';
    padding: 10px;
    margin-top: 0;
    position: fixed;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    height: 50px;
    color: darkolivegreen;
    letter-spacing: .15em;
    

}

.announce.p{
    color: darkolivegreen;
    letter-spacing: .15em;
}
#myBtn:hover {
background: #ddd;
color: black;
}

